@media screen and (max-width: 1072px) {
  .hiden {
    display: inline-block !important;
  }
  span {
    &.arrow-left, &.arrow-right {
      display: none !important;
    }
  }
  .overlay {
    background: #FFE1BD;
    width: 40%;
    height: 84%;
    left: 30%;
    top: 7.7%;
    position: absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 200ms;
  }
  .overlay2 {
    background: #FFE1BD;
    width: 40%;
    height: 52.2%;
    left: 30%;
    top: 43%;
    position: absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 200ms;
  }
}

@media screen and (max-width: 992px) {
  .hiden {
    display: inline-block !important;
  }
  section {
    &.clients-says article.says header {
      padding-right: 0;
      h1 {
        text-align: center;
      }
      hr {
        float: none;
      }
      p {
        text-align: center;
      }
    }
    &.what-we-do div.row article header {
      margin-top: 50px;
      width: 100%;
      text-align: center;
    }
    &.services div.row article header p {
      margin: 0;
    }
    &.what-we-do div.row article header {
      p {
        margin: 0;
      }
      hr {
        margin: 0 auto;
        float: none;
      }
    }
  }
  .overlay {
    background: #FFE1BD;
    width: 40%;
    height: 84%;
    left: 30%;
    top: 7.7%;
    position: absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 200ms;
  }
  .overlay2 {
    background: #FFE1BD;
    width: 40%;
    height: 52.2%;
    left: 30%;
    top: 43%;
    position: absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 200ms;
  }
}

@media screen and (max-width: 825px) {
  .hiden {
    display: inline-block !important;
  }
  section.get-in-touch {
    padding-left: 50px;
    padding-right: 50px;
  }
  .overlay {
    background: #FFE1BD;
    width: 40%;
    height: 84%;
    left: 30%;
    top: 7.7%;
    position: absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 200ms;
  }
  .overlay2 {
    background: #FFE1BD;
    width: 40%;
    height: 52.2%;
    left: 30%;
    top: 43%;
    position: absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 200ms;
  }
}

@media screen and (max-width: 768px) {
  .hiden {
    display: inline-block !important;
  }
  section {
    &.about-us article {
      header {
        padding-left: 50px;
        padding-right: 50px;
      }
      div {
        &.content, &.best-proj {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
    &.what-we-do div.row article div.content {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  nav.navbar-clemo div.clemo-container-fluid {
    padding: 0;
    div.clemo-collapse ul li a.active hr {
      display: none;
    }
  }
  .overlay {
    background: #FFE1BD;
    width: 40%;
    height: 84%;
    left: 30%;
    top: 7.7%;
    position: absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 200ms;
  }
  .overlay2 {
    background: #FFE1BD;
    width: 40%;
    height: 52.2%;
    left: 30%;
    top: 43%;
    position: absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 200ms;
  }
}